In [1]:
%matplotlib inline 

import pandas as pd
import numpy as np
from sklearn import cluster
from sklearn import metrics
from sklearn.metrics import pairwise_distances
from sklearn import cluster, datasets
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
matplotlib.style.use('ggplot')

In [2]:
df = pd.read_csv("../../assets/datasets/mtcars.csv")

In [3]:
df.head(2)

,Car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.9,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.9,2.875,17.02,0,1,4,4

In [4]:
car = df['Car']

In [ ]:
car.unique

Create a column with numeric values for the cars

In [25]:
def car_to_numeric(x):
    if x ==

In [29]:
df.head(2)

,Car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,car_numeric
0,Mazda RX4,21.0,6,160.0,110,3.9,2.620,16.46,0,1,4,4,0
1,Mazda RX4 Wag,21.0,6,160.0,110,3.9,2.875,17.02,0,1,4,4,1

Plot the Data (Can Plot for Various Combinations of Variables)

In [ ]:
df.plot(kind='scatter',x=' ',y=' ')
## Try this for multiple variable combinations

Convert to Matrix and normalize your features

In [40]:
X =

Cluster - Choose K based on your plots and variables chosen

Find the Silhoutte Score and plot

Finally, reassign your labels to the dataframe, and plot variables against each other according to color. Try this in both seaborn and matplotlib. 

What do you notice about your clusters?