In [1]:
import numpy as np
import scipy as sp
from scipy import stats
import csv
import pandas as pd

In [ ]:
one_sample = stats.ttest_1samp(one_sample_data, 175.3)
print "The t-statistic is %.3f and the p-value is %.3f" % one_sample

In [15]:
s

   State  Rate  Verbal  Math
0     CT    82     509   510
1     NJ    81     499   513
2     MA    79     511   515
3     NY    77     495   505
4     NH    72     520   516
5     RI    71     501   499
6     PA    71     500   499
7     VT    69     511   506
8     ME    69     506   500
9     VA    68     510   501
10    DE    67     501   499
11    MD    65     508   510
12    NC    65     493   499
13    GA    63     491   489
14    IN    60     499   501
15    SC    57     486   488
16    DC    56     482   474
17    OR    55     526   526
18    FL    54     498   499
19    WA    53     527   527
20    TX    53     493   499
21    HI    52     485   515
22    AK    51     514   510
23    CA    51     498   517
24    AZ    34     523   525
25    NV    33     509   515
26    CO    31     539   542
27    OH    26     534   439
28    MT    23     539   539
29    WV    18     527   512
30    ID    17     543   542
31    TN    13     562   553
32    NM    13     551   542
33    IL    12     576   589
34    KY    12     550   550
35    WY    11     547   545
36    MI    11     561   572
37    MN     9     580   589
38    KS     9     577   580
39    AL     9     559   554
40    NE     8     562   568
41    OK     8     567   561
42    MO     8     577   577
43    LA     7     564   562
44    WI     6     584   596
45    AR     6     562   550
46    UT     5     575   570
47    IA     5     593   603
48    SD     4     577   582
49    ND     4     592   599
50    MS     4     566   551
51   All    45     506   514

In [9]:
s = pd.read_csv('/Users/michael/DSI-projects/week02/day5/5.1-stats-scipy/sat_score.csv')

In [18]:
sf = s[0:51]

In [20]:
sf['Verbal'].mean()

532.5294117647059

In [48]:
sampnumV = sum(sf['Verbal'])
sampnumM = sum(sf['Math'])
sampnumVAvg = sampnumV/len(sf['Verbal'])
sampnumMAvg = sampnumV/len(sf['Math'])
sampnumT = sampnumV + sampnumM
sampAvg = sampnumT/2

In [53]:
print sampnumV
print sampnumM
print sampnumVAvg
print sampnumMAvg
print sampAvg/len(sf['Verbal'])

27159
27124
532
532
532

In [43]:
one_sample_verbal = stats.ttest_1samp(sf['Verbal'],520)
print "The t-statistic is %.3f and the p-value is %.3f" % one_sample_verbal

The t-statistic is 2.682 and the p-value is 0.010

In [28]:
one_sample_verbal

Ttest_1sampResult(statistic=4.8228106642265072, pvalue=1.3665311189818169e-05)

In [31]:
one_sample_math = stats.ttest_1samp(sf['Math'],510)
print "The t-statistic is %.3f and the p-value is %.3f" % one_sample_math

The t-statistic is 4.299 and the p-value is 0.000

In [30]:
one_sample_math

Ttest_1sampResult(statistic=4.2987712205138946, pvalue=7.9372606150014227e-05)

In [193]:
# Simulating a binomial variable (e.g. seeing heads in 20 out of 30 coin flips )
m = 0
for i in range(10000):
    mixup = np.random.randint(2, size = 50)

    if (float(sum(mixup[0:24])/25)-float(sum(mixup[25:49])/25) >=0.5192):
        m += 1
p = m / 10000.0
p

0.0

In [206]:
from random import shuffle
TotalList = sf['Math'].tolist()+sf['Verbal'].tolist()
m=0
# print TotalList    # Testing pre-shuffle
# shuffle(TotalList) # Shuffling
# print TotalList    # Testing post-shuffle
for i in range(100000):
    shuffle(TotalList)
    x = TotalList[0:50]
    y = TotalList[51:102]

    if (sum(x)/len(x)) - (sum(y)/len(y)) >= 0.5192:
        m+= 1

p = float(m)/100000
print p

0.46798

In [195]:
TotalList

[515,
 495,
 553,
 499,
 500,
 501,
 509,
 550,
 584,
 505,
 501,
 542,
 534,
 499,
 510,
 513,
 499,
 542,
 485,
 498,
 527,
 526,
 550,
 561,
 488,
 515,
 509,
 559,
 564,
 474,
 508,
 499,
 603,
 589,
 527,
 489,
 526,
 543,
 500,
 551,
 589,
 580,
 577,
 499,
 596,
 501,
 577,
 567,
 577,
 539,
 562,
 520,
 498,
 499,
 577,
 491,
 515,
 510,
 570,
 562,
 506,
 562,
 568,
 511,
 499,
 550,
 512,
 580,
 575,
 501,
 510,
 561,
 506,
 486,
 527,
 554,
 511,
 514,
 493,
 547,
 576,
 525,
 493,
 439,
 562,
 542,
 499,
 593,
 599,
 517,
 539,
 572,
 482,
 592,
 510,
 516,
 523,
 551,
 582,
 545]

In [207]:
one_sample_mean = stats.ttest_1samp(TotalList,0.5192)
print "The t-statistic is %.3f and the p-value is %.3f" % one_sample_mean

The t-statistic is 154.816 and the p-value is 0.000