In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('/Users/michael/DSI-projects/week02/Day2/2.4-lab/assets/datasets/billboard.csv')

In [3]:
def replace_nulls(value):
    if value == '*':
        return np.nan
    else:
        return value

In [4]:
dff = df.applymap(replace_nulls)

In [5]:
def secCalc(x):
    y=x.split(',')
    return ((int(y[0])*60)+int(y[1]))

In [47]:
def weekCount(value):
    s= value.days
    return s

In [7]:
df['time']=df['time'].apply(lambda x: secCalc(x))

In [8]:
df=df.rename(columns = {'time':'time.secs'})

In [9]:
df['date.entered'] = pd.to_datetime(df['date.entered'])
df['date.peaked'] = pd.to_datetime(df['date.peaked'])

In [10]:
df['genre'].value_counts()

Rock           103
Country         74
Rap             58
Rock'n'roll     34
R&B             13
R & B           10
Pop              9
Latin            9
Electronica      4
Gospel           1
Jazz             1
Reggae           1
Name: genre, dtype: int64

In [11]:
def genreMush(x):
    if x=="Rock'n'roll":
        x="Rock"
    elif x=="R & B":
        x="R&B"
    return x
df['genre'] = df['genre'].apply(lambda x:genreMush(x))
df['genre'].value_counts()

Rock           137
Country         74
Rap             58
R&B             23
Pop              9
Latin            9
Electronica      4
Gospel           1
Jazz             1
Reggae           1
Name: genre, dtype: int64

In [12]:
max(df['x65th.week'])

'49'

In [13]:
df=df.drop('year',1)

In [ ]:
#def count_week_nums(x):
#    count = 0
#    for col in df.iloc[x,7:]:
#        count +=1
#        
#df['count_row'] = apply

In [14]:
df.head()

,artist.inverted,track,time.secs,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,x4th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,Destiny's Child,Independent Women Part I,218,Rock,2000-09-23,2000-11-18,78,63,49,33,...,*,*,*,*,*,*,*,*,*,*
1,Santana,"Maria, Maria",258,Rock,2000-02-12,2000-04-08,15,8,6,5,...,*,*,*,*,*,*,*,*,*,*
2,Savage Garden,I Knew I Loved You,247,Rock,1999-10-23,2000-01-29,71,48,43,31,...,*,*,*,*,*,*,*,*,*,*
3,Madonna,Music,225,Rock,2000-08-12,2000-09-16,41,23,18,14,...,*,*,*,*,*,*,*,*,*,*
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),218,Rock,2000-08-05,2000-10-14,57,47,45,29,...,*,*,*,*,*,*,*,*,*,*

In [40]:
df['daysEnterPeak'] = df['date.peaked']-df['date.entered']
df['weeksEnterPeak'] = (df['daysEnterPeak']/7).apply(weekCount)

In [42]:
df.head()

,artist.inverted,track,time.secs,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,x4th.week,...,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week,daysEnterPeak,weeksEnterPeak
0,Destiny's Child,Independent Women Part I,218,Rock,2000-09-23,2000-11-18,78,63,49,33,...,*,*,*,*,*,*,*,*,56 days,8
1,Santana,"Maria, Maria",258,Rock,2000-02-12,2000-04-08,15,8,6,5,...,*,*,*,*,*,*,*,*,56 days,8
2,Savage Garden,I Knew I Loved You,247,Rock,1999-10-23,2000-01-29,71,48,43,31,...,*,*,*,*,*,*,*,*,98 days,14
3,Madonna,Music,225,Rock,2000-08-12,2000-09-16,41,23,18,14,...,*,*,*,*,*,*,*,*,35 days,5
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),218,Rock,2000-08-05,2000-10-14,57,47,45,29,...,*,*,*,*,*,*,*,*,70 days,10

In [178]:
df['weeksEnterPeak'][:].apply(weekCount)

0       8
1       8
2      14
3       5
4      10
5      10
6      12
7      12
8       7
9      39
10     12
11      7
12     25
13     26
14     13
15     12
16     10
17     24
18     15
19     13
20      7
21     14
22      6
23     14
24     31
25     16
26     11
27     18
28     26
29     16
       ..
287     1
288    10
289     1
290     9
291     1
292     2
293     3
294     1
295     7
296     3
297     3
298     1
299     0
300     7
301     0
302     1
303     5
304     3
305     1
306     0
307     1
308     0
309     0
310     1
311     0
312     0
313     0
314     0
315     0
316     0
Name: weeksEnterPeak, dtype: int64

In [33]:
weeksPos = dff[dff.columns[7:82]]
pd.DataFrame(weeksPos)

weeksPos.head()

,x1st.week,x2nd.week,x3rd.week,x4th.week,x5th.week,x6th.week,x7th.week,x8th.week,x9th.week,x10th.week,...,x66th.week,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week
0,78,63,49,33,23,15,7,5,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15,8,6,5,2,3,2,2,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,71,48,43,31,20,13,7,6,4,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,41,23,18,14,2,1,1,1,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,57,47,45,29,23,18,11,9,9,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
sample = 0
(weeksPos[weeksPos.columns[(sample)]].iloc[3])

41