In [124]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [152]:
r = requests.get('http://www.indeed.com/jobs?q=data+scientist&l=nyc&start=30')

In [153]:
soup = BeautifulSoup(r.content, "lxml")

In [154]:
loc = soup.findAll(class_='location')

locations = []
for i in loc:
    try:
        locations.append(i.text)
    except:
        locations.append(np.nana)

In [155]:
title = soup.findAll(class_='jobtitle')

titles = []
for i in title:
    try:
        titles.append(i.text.strip())
    except:
        titles.append(np.nan)

In [156]:
company = soup.findAll(class_='company')

companies = []
for i in company:
    try:
        companies.append(i.text.strip())
    except:
        companies.append(np.nan)

In [157]:
salary = soup.findAll(class_='location')

salaries = []
for i in salary:
    try:
        salaries.append(i.findNextSibling().get_text().strip())
    except:
        salaries.append(np.nan)

In [158]:
df = pd.DataFrame([titles, companies, locations, salaries]).T
df.columns = ['title', 'company', 'locations','salary']

In [159]:
df

,title,company,locations,salary
0,Data Scientist,Princeton Consulting,"New York, NY","$100,000 - $200,000 a year"
1,Lead Data Scientist,ASCAP,"New York, NY",NaN
2,Data Scientist,Tilting Point,"New York, NY",NaN
3,Data Scientist,The Nielsen Company,"New York, NY 10003 (Greenwich Village area)",NaN
4,Data Scientist,x.ai,"New York, NY 10004 (Financial District area)",NaN
5,Data Scientist,SecurityScorecard,"New York, NY",NaN
6,Data Scientist VI,Memorial Sloan Kettering,"New York, NY",NaN
7,Digital Marketing – Sr. Data Scientist - New Y...,JPMorgan Chase,"New York, NY",NaN
8,Data Scientist (NYC),Datadog,"New York, NY 10001 (Chelsea area)",NaN
9,Data Scientist,Macy's,"New York, NY",NaN
10,Data Scientist,RangTech,"New York, NY",NaN
11,Associate Research Scientist,Columbia University,"Palisades, NY",NaN
12,Data Scientist,"AbilTo, Inc","New York, NY",NaN
13,Data Scientist – Predictive Analytics,Gallup,"New York, NY",NaN
14,Data Scientist - Monitoring & Anomaly Detectio...,Uber,"New York, NY",NaN