In [2]:
%matplotlib inline
%load_ext sql

import pandas as pd 
import pylab
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')
import numpy as np
import sklearn
from scipy.stats import mode
import psycopg2 as psy
import seaborn as sns
from sqlalchemy import create_engine
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_curve, auc
from sklearn.cross_validation import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score
from sklearn.metrics import classification_report
from sqlalchemy.engine.url import URL
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.cluster import KMeans
from scipy.cluster.hierarchy import dendrogram, linkage, cophenet, fcluster
from scipy.spatial.distance import pdist
from sklearn.metrics import accuracy_score, silhouette_samples, silhouette_score
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.decomposition import PCA 
import matplotlib.patheffects as path_effects

/Users/michael/anaconda/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/Users/michael/anaconda/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [19]:
matdf = pd.read_csv('/Users/michael/Downloads/student/student-mat.csv', sep = ';')
pordf = pd.read_csv('/Users/michael/Downloads/student/student-por.csv', sep = ';')

In [28]:
df = pd.concat([matdf,pordf])

In [24]:
def binarizer(x):
    if x == 'yes':
        return 1
    else:
        return 0

In [31]:
df['schoolsup'] = df['schoolsup'].map(lambda x: 1 if x == 'yes' else 0)
df['famsup'] = df['famsup'].map(lambda x: 1 if x == 'yes' else 0)
df['paid'] = df['paid'].map(lambda x: 1 if x == 'yes' else 0)
df['activities'] = df['activities'].map(lambda x: 1 if x == 'yes' else 0)
df['nursery'] = df['nursery'].map(lambda x: 1 if x == 'yes' else 0)
df['higher'] = df['higher'].map(lambda x: 1 if x == 'yes' else 0)
df['internet'] = df['internet'].map(lambda x: 1 if x == 'yes' else 0)
df['romantic'] = df['romantic'].map(lambda x: 1 if x == 'yes' else 0)
df['school'] = df['school'].map(lambda x: 1 if x == 'GP' else 0)
df['sex'] = df['sex'].map(lambda x: 1 if x == 'F' else 0)
df['address'] = df['address'].map(lambda x: 1 if x == 'U' else 0)
df['famsize'] = df['famsize'].map(lambda x: 1 if x == 'GT3' else 0)
df['Pstatus'] = df['Pstatus'].map(lambda x: 1 if x == 'A' else 0)
unique = list(df['Mjob'].unique())
unique_n = {y:x for x, y in enumerate(unique)}
df['Mjob'] = df['Mjob'].apply(lambda x: unique_n[x])
unique = list(df['Fjob'].unique())
unique_n = {y:x for x, y in enumerate(unique)}
df['Fjob'] = df['Fjob'].apply(lambda x: unique_n[x])
unique = list(df['reason'].unique())
unique_n = {y:x for x, y in enumerate(unique)}
df['reason'] = df['reason'].apply(lambda x: unique_n[x])
unique = list(df['guardian'].unique())
unique_n = {y:x for x, y in enumerate(unique)}
df['guardian'] = df['guardian'].apply(lambda x: unique_n[x])
df.drop('G1',1,inplace=True)
df.drop('G2',1,inplace=True)

In [30]:
df.head().T

             0   1   2   3   4
school       1   1   1   1   1
sex          1   1   1   1   1
age         18  17  15  15  16
address      1   1   1   1   1
famsize      1   1   0   1   1
Pstatus      1   0   0   0   0
Medu         4   1   1   4   3
Fedu         4   1   1   2   3
Mjob         0   0   0   1   2
Fjob         0   1   1   2   1
reason       0   0   1   2   2
guardian     0   1   0   0   1
traveltime   2   1   1   1   1
studytime    2   2   2   3   2
failures     0   0   3   0   0
schoolsup    1   0   1   0   0
famsup       0   1   0   1   1
paid         0   0   1   1   1
activities   0   0   0   1   0
nursery      1   0   1   1   1
higher       1   1   1   1   1
internet     0   1   1   1   0
romantic     0   0   0   1   0
famrel       4   5   4   3   4
freetime     3   3   3   2   3
goout        4   3   2   2   2
Dalc         1   1   2   1   1
Walc         1   1   3   1   2
health       3   3   3   5   5
absences     6   4  10   2   4
G1           5   5   7  15   6
G2           6   5   8  14  10
G3           6   6  10  15  10