In [1]:
from imdbpie import Imdb
imdb = Imdb()
imdb = Imdb(anonymize=True) # to proxy requests

# Creating an instance with caching enabled
# Note that the cached responses expire every 2 hours or so.
# The API response itself dictates the expiry time)
imdb = Imdb(cache=True)

from __future__ import division, print_function

import requests
from bs4 import BeautifulSoup
from selenium import webdriver
import re
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_extraction.text import CountVectorizer, HashingVectorizer, TfidfVectorizer

from IPython.core.display import HTML, Image

In [2]:
def get_soup_from_url(url):
    '''Returns Beautiful Soup for a given webpage'''
    response = requests.get(url)
    page = response.text
    soup = BeautifulSoup(page,'lxml')
    return soup

def findTime(soup):
    a = soup.find(text=re.compile('Runtime:'))
    try:
        return str(a.findNext('time').contents[0])
    except:
        return np.nan

def findRating(soup):
    try:
        return str(soup.find('span', {'itemprop':'contentRating'}).text)
    except:
        return "Not Rated"
    
def findMeta(soup):
    a = soup.find('div',class_ = 'titleReviewBarItem')
    try:
        return int(a.findNext('span').contents[0])
    except:
        return np.nan
    
def findGross(soup):
    a = soup.findAll('div',{'id':'titleDetails'},{'class':'article'})
    for x in a:
        try:
            #print(x)
            for i in range(len(x)):
                #print(i)
                if str(x.findAll('div','txt-block')[i].getText().encode('ascii', 'ignore')\
                       .decode('ascii')).split()[0] == 'Gross:':
                    return(str(x.findAll('div','txt-block')[i].getText()).split()[1])
        except:
            return np.nan
            

def findBudget(soup):
    a = soup.findAll('div',{'id':'titleDetails'},{'class':'article'})
    for x in a:
        try:
            #print(x)
            for i in range(len(x)):
                #print(i)
                if str(x.findAll('div','txt-block')[i].getText().encode('ascii', 'ignore')\
                       .decode('ascii')).split()[0] == 'Budget:':
                    return(str(x.findAll('div','txt-block')[i].getText()).split()[1])
        except:
            return np.nan

In [3]:
links=[]

# data = imdb.top_250()
dfimdb = pd.DataFrame(imdb.top_250())
top_250_url = 'http://www.imdb.com/chart/top?ref_=nv_mv_250_6'
soup_250= get_soup_from_url(top_250_url)

for x in dfimdb['tconst']:
    url1 = 'http://www.imdb.com/title/'
    url2 = '/?ref_=nv_sr_1'
    link = url1 + x + url2
    links.append(str(link))

In [4]:
def get_movie_info(url):
    '''Takes in a movie's URL and scrapes that webpage using Beautiful Soup
    
    Returns a list of that movie's Title, Gross, Rating and Distributor
    
    
    '''
    soup = get_soup_from_url(url)
    
    results = []
    
    userRatings = str(soup.find('span',{'itemprop':'reviewCount'}).text.split()[0])
    criticRatings = int(soup.find('span',{'itemprop':'reviewCount'}).findNextSibling().text.split()[0])
    title_string = soup.find('h1').text
    title = str(title_string.split('(')[0].strip().encode('utf8'))
    year_string = str(title_string.split('(')[1].strip().encode('utf8'))
    year = int(year_string.replace(')',''))
    time = findTime(soup)
    MPAArating = findRating(soup)
    IMDBRating = float(soup.find('span',{'itemprop':'ratingValue'}).text)
    IMDBRatings = str(soup.find('span',{'itemprop':'ratingCount'}).text)
    genre = str(soup.find('span', {'itemprop':'genre'}).text)
    director = str(soup.find('span', {'itemprop':'name'}).text.encode('utf8'))
    writer = str(soup.find('span', {'itemprop':'creator'}).getText().encode('utf8')).strip().replace(',','')
    actor = str(soup.find('span', {'itemprop':'actors'}).text.encode('utf8')).strip().replace(',','')
    description = description = str(soup.find('div', {'itemprop':'description'}).getText().encode('utf8')).strip()
#     metascore = findMeta(soup)
#     gross = findGross(soup)
#     budget = findBudget(soup)
    
    results.append(title)
    results.append(year)
    results.append(time)
    results.append(genre)
    results.append(director)
    results.append(writer)
    results.append(actor)
    results.append(MPAArating)
    results.append(description)
    results.append(userRatings)
    results.append(criticRatings)
#     results.append(budget)
#     results.append(gross)
#     results.append(metascore)
    results.append(IMDBRatings)
    results.append(IMDBRating)


    return results

In [7]:
soup = get_soup_from_url('http://www.imdb.com/title/tt0103064/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=2398042102&pf_rd_r=1YH6XVXD9CACM3N144DE&pf_rd_s=center-1&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_tt_41')

In [5]:
table = []
for url in links:
#     print(url)
    info = get_movie_info(url)
    table.append(info)

In [6]:
df = pd.DataFrame(table, columns = ['Title','Year', 'Runtime','Genre','Director','Writer','Actor', \
                                    'MPAARating', 'Description', 'numUserRatings','numCriticRatings', \
                                    'numIMDBRatings','IMDBRating'])

In [7]:
df.to_csv('movieInfo.csv')

In [16]:
df = pd.read_csv('movieInfo.csv')

In [17]:
null_data = df[df.isnull().any(axis=1)]
len(null_data)

1

In [98]:
df.drop('Metascore',1, inplace = True)
null_data = df[df.isnull().any(axis=1)]
len(null_data)

84

In [99]:
df.drop('Gross', 1, inplace=True)
null_data = df[df.isnull().any(axis=1)]
len(null_data)

34

In [100]:
df.drop('Budget',1,inplace=True)
null_data = df[df.isnull().any(axis=1)]
len(null_data)

1

In [18]:
def ratingCleaner(x):
    y = str(x).split()[0]
    if y == 'Rated':
        return str(x).split()[1]
    elif y == 'Not':
        return x
    else:
        return y

def ratingCombiner(x):
    if x == 'M':
        return 'X'
    elif x == 'Unrated':
        return 'Not Rated'
    elif x == 'Passed':
        return 'Not Rated'
    elif x == 'Approved':
        return 'G'
    else:
        return x

In [19]:
df['numIMDBRatings'] = df['numIMDBRatings'].apply(lambda x: x.replace(',',''))
df['numUserRatings'] = df['numUserRatings'].apply(lambda x: x.replace(',',''))
df['numUserRatings'] = df['numUserRatings'].apply(lambda x: int(x))
df['numCriticRatings'] = df['numCriticRatings'].apply(lambda x: int(x))
df['numIMDBRatings'] = df['numIMDBRatings'].apply(lambda x: int(x))
df['Runtime'].fillna('146 min',inplace = True)
df['Runtime'] = df['Runtime'].apply(lambda x: x.split()[0])
df['Runtime'] = df['Runtime'].apply(lambda x: int(x))
df['MPAARating'] = df['MPAARating'].apply(lambda x: ratingCleaner(x))
df['MPAARating'] = df['MPAARating'].apply(lambda x: ratingCombiner(x))
df['Writer'] = df['Writer'].apply(lambda x: x.split('(')[0])
df.drop('Unnamed: 0',1,inplace=True)
df.head()

,Title,Year,Runtime,Genre,Director,Writer,Actor,MPAARating,Description,numUserRatings,numCriticRatings,numIMDBRatings,IMDBRating
0,The Shawshank Redemption,1994,142,Crime,Frank Darabont,Stephen King,Tim Robbins,R,Two imprisoned men bond over a number of years...,4120,198,1679862,9.3
1,The Godfather,1972,175,Crime,Francis Ford Coppola,Mario Puzo,Marlon Brando,R,The aging patriarch of an organized crime dyna...,2224,207,1149324,9.2
2,The Godfather: Part II,1974,202,Crime,Francis Ford Coppola,Francis Ford Coppola,Al Pacino,R,The early life and career of Vito Corleone in ...,652,149,786009,9.0
3,The Dark Knight,2008,152,Action,Christopher Nolan,Jonathan Nolan,Christian Bale,PG-13,When the menace known as the Joker wreaks havo...,4646,644,1664897,9.0
4,Schindler's List,1993,195,Biography,Steven Spielberg,Thomas Keneally,Liam Neeson,R,"In Poland during World War II, Oskar Schindler...",1266,174,859751,8.9

In [20]:
df['MPAARating'].value_counts()

R            104
Not Rated     49
PG            37
PG-13         34
G             24
X              2
Name: MPAARating, dtype: int64

# Modeling!

In [21]:
df.head()

,Title,Year,Runtime,Genre,Director,Writer,Actor,MPAARating,Description,numUserRatings,numCriticRatings,numIMDBRatings,IMDBRating
0,The Shawshank Redemption,1994,142,Crime,Frank Darabont,Stephen King,Tim Robbins,R,Two imprisoned men bond over a number of years...,4120,198,1679862,9.3
1,The Godfather,1972,175,Crime,Francis Ford Coppola,Mario Puzo,Marlon Brando,R,The aging patriarch of an organized crime dyna...,2224,207,1149324,9.2
2,The Godfather: Part II,1974,202,Crime,Francis Ford Coppola,Francis Ford Coppola,Al Pacino,R,The early life and career of Vito Corleone in ...,652,149,786009,9.0
3,The Dark Knight,2008,152,Action,Christopher Nolan,Jonathan Nolan,Christian Bale,PG-13,When the menace known as the Joker wreaks havo...,4646,644,1664897,9.0
4,Schindler's List,1993,195,Biography,Steven Spielberg,Thomas Keneally,Liam Neeson,R,"In Poland during World War II, Oskar Schindler...",1266,174,859751,8.9

In [28]:
df.columns

Index([u'Title', u'Runtime', u'Genre', u'Director', u'Writer', u'Actor',
       u'MPAARating', u'Description', u'numUserRatings', u'numCriticRatings',
       u'numIMDBRatings', u'IMDBRating'],
      dtype='object')

In [22]:
dummydf = df[['Genre','Director','Writer', 'Actor','MPAARating']]
dummydf = pd.get_dummies(dummydf)

In [23]:
scalingdf = df[['Year','Runtime','numUserRatings','numCriticRatings','numIMDBRatings']]
scalingdf = MinMaxScaler().fit_transform(scalingdf.astype(float))
scalingdf = pd.DataFrame(scalingdf, columns = ['Year','Runtime','numUserRatings','numCriticRatings','numIMDBRatings'])

In [24]:
y = df['IMDBRating']

In [36]:
tfidfvect = TfidfVectorizer(stop_words = 'english')
tfidfvect.fit(df['Description'])

TfidfVectorizer(analyzer=u'word', binary=False, decode_error=u'strict',
        dtype=<type 'numpy.int64'>, encoding=u'utf-8', input=u'content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm=u'l2', preprocessor=None, smooth_idf=True,
        stop_words='english', strip_accents=None, sublinear_tf=False,
        token_pattern=u'(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)

In [40]:
nlpdf  = pd.DataFrame(tfidfvect.transform(df['Description']).todense(),columns=tfidfvect.get_feature_names(),index=df['Description'])
nlpdf.transpose().sort_values(df['Description'][0], ascending=False).head(10).transpose()
nlpdf.reset_index(inplace=True)
nlpdf.drop('Description',1,inplace = True)
nlpdf.head()

,000,10,12,15,16th,1820s,18th,1920s,1936,1937,...,year,years,yoda,york,young,younger,youngest,zero,zone,zubrowka
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.252166,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.217608,0.0,0.0,...,0.0,0.000000,0.0,0.170867,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
X = pd.concat([dummydf,scalingdf,nlpdf], axis =1)

In [44]:
def bucketingY(x):
    if x >= 9.0:
        return 1
    elif x >= 8.5:
        return 2
    else:
        return 3

In [46]:
y = y.apply(lambda x: bucketingY(x))