In [2]:
import pandas as pd
import numpy as np
import csv

In [6]:
# Read in rock.csv as a data frame
df = pd.read_csv('/Users/michael/DSI-NYC-1/curriculum/week-02/3.2-lab/assets/datasets/rock.csv').dropna()
df.head()

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1
5,Kryptonite,3 Doors Down,2000,Kryptonite by 3 Doors Down,1,1,13,13

In [8]:
# The simplest pivot table must have a dataframe and an 
# index . Let’s use the ARTIST CLEAN as our index.
pd.pivot_table(df,index=['ARTIST CLEAN']).head()

                     F*G  First?  PlayCount  Year?
ARTIST CLEAN
.38 Special    61.666667     1.0  61.666667    1.0
10cc            1.000000     1.0   1.000000    1.0
3 Doors Down    6.666667     1.0   6.666667    1.0
4 Non Blondes   3.000000     1.0   3.000000    1.0
AC/DC          38.100000     1.0  38.100000    1.0

In [12]:
# How about indexing on multiple values. Let's look at the 
# data by ARTIST CLEAN and Release Year next. 
pd.pivot_table(df, index = ['ARTIST CLEAN','Release Year']).head()

                            F*G  First?  PlayCount  Year?
ARTIST CLEAN Release Year
.38 Special  1980          18.0     1.0       18.0    1.0
             1981          85.0     1.0       85.0    1.0
             1982          82.0     1.0       82.0    1.0
10cc         1975           1.0     1.0        1.0    1.0
3 Doors Down 2000           7.0     1.0        7.0    1.0

In [14]:
# What we really want to take a look at next is PlayCount. So, 
# the F*G, First?, and Year? columns aren’t useful. Let’s 
# remove them and explicitly define the 'PlayCount' column by 
# using the values field.
pd.pivot_table(df, index = ['ARTIST CLEAN','Release Year'],values=['PlayCount']).head()

                           PlayCount
ARTIST CLEAN Release Year
.38 Special  1980               18.0
             1981               85.0
             1982               82.0
10cc         1975                1.0
3 Doors Down 2000                7.0

In [17]:
# The 'PlayCount' column automatically averages the data.  
# We can do a count or a sum by using aggfunc and np.sum.
pd.pivot_table(df, index = ['ARTIST CLEAN','Release Year'],values=['PlayCount'],aggfunc=[len,np.sum]).head()

                                len       sum
                          PlayCount PlayCount
ARTIST CLEAN Release Year
.38 Special  1980                 1        18
             1981                 1        85
             1982                 1        82
10cc         1975                 1         1
3 Doors Down 2000                 2        14