In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

#### 1. Read in the Star Wars survey data from fivethirtyeight, saved here:
```../assets/datasets/StarWars.csv```

In [2]:
df = pd.read_csv('../assets/datasets/StarWars.csv')

#### 2. Print out the head of the data

In [82]:
df.head(0)

Empty DataFrame
Columns: [RespondentID, Have you seen any of the 6 films in the Star Wars franchise?, Do you consider yourself to be a fan of the Star Wars film franchise?, Which of the following Star Wars films have you seen? Please select all that apply., Unnamed: 4, Unnamed: 5, Unnamed: 6, Unnamed: 7, Unnamed: 8, Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film., Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13, Unnamed: 14, Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her., Unnamed: 16, Unnamed: 17, Unnamed: 18, Unnamed: 19, Unnamed: 20, Unnamed: 21, Unnamed: 22, Unnamed: 23, Unnamed: 24, Unnamed: 25, Unnamed: 26, Unnamed: 27, Unnamed: 28, Which character shot first?, Are you familiar with the Expanded Universe?, Do you consider yourself to be a fan of the Expanded Universe?��, Do you consider yourself to be a fan of the Star Trek franchise?, Gender, Age, Household Income, Education, Location (Census Region)]
Index: []

[0 rows x 38 columns]

#### 3. Print out the columns

In [85]:
df.columns[:]

Index([u'RespondentID',
       u'Have you seen any of the 6 films in the Star Wars franchise?',
       u'Do you consider yourself to be a fan of the Star Wars film franchise?',
       u'Which of the following Star Wars films have you seen? Please select all that apply.',
       u'Unnamed: 4', u'Unnamed: 5', u'Unnamed: 6', u'Unnamed: 7',
       u'Unnamed: 8',
       u'Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.',
       u'Unnamed: 10', u'Unnamed: 11', u'Unnamed: 12', u'Unnamed: 13',
       u'Unnamed: 14',
       u'Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.',
       u'Unnamed: 16', u'Unnamed: 17', u'Unnamed: 18', u'Unnamed: 19',
       u'Unnamed: 20', u'Unnamed: 21', u'Unnamed: 22', u'Unnamed: 23',
       u'Unnamed: 24', u'Unnamed: 25', u'Unnamed: 26', u'Unnamed: 27',
       u'Unnamed: 28', u'Which character shot first?',
       u'Are you familiar with the Expanded Universe?',
       u'Do you consider yourself to be a fan of the Expanded Universe?��',
       u'Do you consider yourself to be a fan of the Star Trek franchise?',
       u'Gender', u'Age', u'Household Income', u'Education',
       u'Location (Census Region)'],
      dtype='object')

#### 4. What percent of respondents are male?

In [19]:
df.loc[:,'Gender']

0       Response
1           Male
2           Male
3           Male
4           Male
5           Male
6           Male
7           Male
8           Male
9           Male
10          Male
11           NaN
12           NaN
13          Male
14          Male
15          Male
16          Male
17          Male
18          Male
19          Male
20          Male
21          Male
22          Male
23          Male
24          Male
25          Male
26          Male
27          Male
28          Male
29          Male
          ...
1157      Female
1158        Male
1159      Female
1160      Female
1161      Female
1162         NaN
1163      Female
1164      Female
1165        Male
1166      Female
1167      Female
1168      Female
1169      Female
1170        Male
1171      Female
1172      Female
1173      Female
1174      Female
1175      Female
1176      Female
1177      Female
1178        Male
1179      Female
1180      Female
1181      Female
1182      Female
1183      Female
1184      Female
1185      Female
1186      Female
Name: Gender, dtype: object

In [20]:
df['Gender'].value_counts()

Female      549
Male        497
Response      1
Name: Gender, dtype: int64

In [46]:
a = len(df['Gender'])
maleCount=[]

for x in df['Gender'][range(a)]:
    if x == 'Male':
        maleCount.append(1)
    y = float(sum(maleCount))
print y
print a
print (y/a*100)

497.0
1187
41.8702611626

In [87]:
float(df["Gender"][df.Gender=="Male"].count())/df["Gender"].count()

0.47468958930276983

In [88]:
df['Gender'].value_counts("Male")

Female      0.462511
Male        0.418703
Response    0.000842
Name: Gender, dtype: float64

#### 5. Which movies are ranked as respondents #1 favorite movie most often?

In [49]:
df['Gender'].value_counts()

Female      549
Male        497
Response      1
Name: Gender, dtype: int64

In [60]:
df.columns[9:15]

Index([u'Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.',
       u'Unnamed: 10', u'Unnamed: 11', u'Unnamed: 12', u'Unnamed: 13',
       u'Unnamed: 14'],
      dtype='object')

In [80]:
df.iloc[1:,9:15]
print df.iloc[1:,9].value_counts()
print df.iloc[1:,10].value_counts()
print df.iloc[1:,11].value_counts()
print df.iloc[1:,12].value_counts()
print df.iloc[1:,13].value_counts()
print df.iloc[1:,14].value_counts()

4    237
6    168
3    130
1    129
5    100
2     71
Name: Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film., dtype: int64
5    300
4    183
2    116
3    103
6    102
1     32
Name: Unnamed: 10, dtype: int64
6    217
5    203
4    182
3    150
2     47
1     36
Name: Unnamed: 11, dtype: int64
1    204
6    161
2    135
4    130
3    127
5     79
Name: Unnamed: 12, dtype: int64
1    289
2    235
5    118
3    106
4     47
6     41
Name: Unnamed: 13, dtype: int64
2    232
3    220
1    146
6    145
4     57
5     36
Name: Unnamed: 14, dtype: int64

In [104]:
for i in range(9,15):
    counter = df.iloc[:,i].value_counts()
    if max(counter) == counter['1']:
        print counter

1                                    204
6                                    161
2                                    135
4                                    130
3                                    127
5                                     79
Star Wars: Episode IV  A New Hope      1
Name: Unnamed: 12, dtype: int64
1                                               289
2                                               235
5                                               118
3                                               106
4                                                47
6                                                41
Star Wars: Episode V The Empire Strikes Back      1
Name: Unnamed: 13, dtype: int64