In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('turnstile_160730.txt')

In [8]:
df.head(1)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456,BMT,07/23/2016,00:00:00,REGULAR,5751337,1950621

In [10]:
test_df = df.copy()

In [11]:
test_df.drop('C/A',1,inplace=True)
test_df.drop('UNIT',1,inplace=True)
test_df.drop('SCP',1,inplace=True)
test_df.drop('LINENAME',1,inplace=True)
test_df.drop('DIVISION',1,inplace=True)
test_df.drop('DESC',1,inplace=True)

In [12]:
test_df.head(1)

,STATION,DATE,TIME,ENTRIES,EXITS
0,59 ST,07/23/2016,00:00:00,5751337,1950621

In [20]:
len(test_df['TIME'].unique())

9803

In [18]:
test_df[test_df['STATION']'TIME'].value_counts()

04:00:00    16790
08:00:00    16788
16:00:00    16779
20:00:00    16777
00:00:00    16769
12:00:00    16762
01:00:00    11723
09:00:00    11722
17:00:00    11711
05:00:00    11705
21:00:00    11697
13:00:00    11688
06:00:00      770
10:00:00      770
22:00:00      770
02:00:00      770
18:00:00      770
14:00:00      770
07:00:00      273
15:00:00      273
23:00:00      273
19:00:00      273
03:00:00      273
11:00:00      272
00:22:00      260
20:22:00      259
12:22:00      259
04:22:00      259
16:22:00      258
08:22:00      258
            ...
08:11:30        1
14:00:19        1
17:05:57        1
17:05:58        1
07:47:21        1
11:49:56        1
11:49:51        1
05:04:50        1
22:31:38        1
18:49:39        1
22:35:00        1
01:18:43        1
10:46:23        1
18:21:18        1
00:31:31        1
15:59:09        1
00:31:37        1
10:08:43        1
10:08:44        1
20:55:37        1
10:08:46        1
10:08:49        1
23:01:41        1
20:55:38        1
15:36:51        1
22:32:31        1
00:31:39        1
10:46:28        1
23:01:45        1
15:50:18        1
Name: TIME, dtype: int64