In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('/Users/michael/DSI-projects/week02/Day2/2.4-lab/assets/datasets/billboard.csv')

In [4]:
def replace_nulls(value):
    if value == '*':
        return np.nan
    else:
        return value

In [3]:
# df.applymap(replace_nulls)

In [4]:
def secCalc(x):
    y=x.split(',')
    return ((int(y[0])*60)+int(y[1]))

In [5]:
df['time']=df['time'].apply(lambda x: secCalc(x))

In [6]:
df=df.rename(columns = {'time':'time.secs'})

In [7]:
df['date.entered'] = pd.to_datetime(df['date.entered'])
df['date.peaked'] = pd.to_datetime(df['date.peaked'])

In [8]:
df['genre'].value_counts()

Rock           103
Country         74
Rap             58
Rock'n'roll     34
R&B             13
R & B           10
Pop              9
Latin            9
Electronica      4
Gospel           1
Jazz             1
Reggae           1
Name: genre, dtype: int64

In [10]:
def genreMush(x):
    if x=="Rock'n'roll":
        x="Rock"
    elif x=="R & B":
        x="R&B"
    return x
df['genre'] = df['genre'].apply(lambda x:genreMush(x))
df['genre'].value_counts()

Rock           137
Country         74
Rap             58
R&B             23
Pop              9
Latin            9
Electronica      4
Gospel           1
Jazz             1
Reggae           1
Name: genre, dtype: int64

In [47]:
max(df['x65th.week'])

'49'

In [28]:
df=df.drop('year',1)

In [24]:
for i in range(len(df['track'])):
    if df['track'][i]=="Where I Wanna Be":
        print i

118
305

In [25]:
print df['artist.inverted'][118]
print df['artist.inverted'][305]

Jones, Donell
Sheist, Shade

In [ ]:
#def count_week_nums(x):
#    count = 0
#    for col in df.iloc[x,7:]:
#        count +=1
#        
#df['count_row'] = apply

In [29]:
df.head()

,artist.inverted,track,time.secs,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,x4th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,Destiny's Child,Independent Women Part I,218,Rock,2000-09-23,2000-11-18,78,63,49,33,...,*,*,*,*,*,*,*,*,*,*
1,Santana,"Maria, Maria",258,Rock,2000-02-12,2000-04-08,15,8,6,5,...,*,*,*,*,*,*,*,*,*,*
2,Savage Garden,I Knew I Loved You,247,Rock,1999-10-23,2000-01-29,71,48,43,31,...,*,*,*,*,*,*,*,*,*,*
3,Madonna,Music,225,Rock,2000-08-12,2000-09-16,41,23,18,14,...,*,*,*,*,*,*,*,*,*,*
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),218,Rock,2000-08-05,2000-10-14,57,47,45,29,...,*,*,*,*,*,*,*,*,*,*

In [32]:
df['daysEnterPeak'] = df['date.peaked']-df['date.entered']

In [33]:
df.head()

,artist.inverted,track,time.secs,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,x4th.week,...,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week,daysEnterPeak
0,Destiny's Child,Independent Women Part I,218,Rock,2000-09-23,2000-11-18,78,63,49,33,...,*,*,*,*,*,*,*,*,*,56 days
1,Santana,"Maria, Maria",258,Rock,2000-02-12,2000-04-08,15,8,6,5,...,*,*,*,*,*,*,*,*,*,56 days
2,Savage Garden,I Knew I Loved You,247,Rock,1999-10-23,2000-01-29,71,48,43,31,...,*,*,*,*,*,*,*,*,*,98 days
3,Madonna,Music,225,Rock,2000-08-12,2000-09-16,41,23,18,14,...,*,*,*,*,*,*,*,*,*,35 days
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),218,Rock,2000-08-05,2000-10-14,57,47,45,29,...,*,*,*,*,*,*,*,*,*,70 days

In [43]:
min(df['x1st.week'])

15